! XTerm
xterm*termName: xterm-256color
xterm*faceName: cozette
xterm*faceSize: 11
xterm*reverseVideo: false

xterm*cursorColor: #fff

! Border
xterm*internalBorder: 24

! Translations
xterm*VT100.Translations: #override \
  Meta <Key> minus: smaller-vt-font() \n\
  Ctrl Shift <Key>V: insert-selection(CLIPBOARD) \n\
  Ctrl Shift <Key>C: copy-selection(CLIPBOARD) \n\
  Meta <Key> plus: larger-vt-font() \n

!URxvt
URxvt.scrollBar: false
URxvt.reverseVideo: true
URxvt*scrollTtyKeypress: true
URxvt.font: xft:Cozette
URxvt.letterSpace: -1
URxvt*scrollTtyOutput: false
