! XTerm
xterm*termName: xterm-256color
xterm*faceName: Iosevka
xterm*faceSize: 17

! Border
xterm*internalBorder: 24

! Translations
xterm*VT100.Translations: #override \
  Meta <Key> minus: smaller-vt-font() \n\
  Ctrl Shift <Key>V: insert-selection(CLIPBOARD) \n\
  Ctrl Shift <Key>C: copy-selection(CLIPBOARD) \n\
  Meta <Key> plus: larger-vt-font() \n

!URxvt
URxvt.scrollBar: false
URxvt*scrollTtyKeypress: true
URxvt.font: xft:Cozette
URxvt.letterSpace: -1
URxvt*scrollTtyOutput: false
! special
*.foreground:   #b9b9b9
*.background:   #101010
*.cursorColor:  #b9b9b9

*.color0:       #191917
*.color8:       #191917

*.color1:       #353732
*.color9:       #353732

*.color2:       #585c52
*.color10:      #585c52

*.color3:       #757a6a
*.color11:      #757a6a

*.color4:       #848b7a
*.color12:      #848b7a

*.color5:       #99a18c
*.color13:      #99a18c

*.color6:       #bac0ae
*.color14:      #bac0ae

*.color7:       #d6dacd
*.color15:      #d6dacd
