/* XFCE */

/* Panel */
.xfce4-panel .tasklist .toggle {
  border-radius: 3px;
}

.xfce4-panel .tasklist .toggle:hover {
  background: mediumpurple;
}

#clock-button {
  color: black;
  background: lightblue;
  border-radius: 0px;
}

#xfce-panel-toggle-button:checked {
  background: #fff;
  color: #000;
}
